server:
  port: 8888

spring:
  application:
    name: API_GATEWAY
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.31.50:10001,192.168.31.50:10002,192.168.31.50:10003
    gateway:
      discovery:
        locator:
          enabled: true  # \u5F00\u542F\u4ECE\u670D\u52A1\u53D1\u73B0\u4E2D\u52A8\u6001\u521B\u5EFA\u8DEF\u7531
      routes:
        - id: CUSTOMER_SERVICE
          uri: lb://CUSTOMER_SERVICE  # lb\u4EE3\u8868\u8D1F\u8F7D\u5747\u8861
          predicates:
            - Path=/api/customer/**
          filters:
            - StripPrefix=0   # \u53BB\u6389\u8DEF\u5F84\u524D\u7F00\uFF0C\u4F8B\u5982/api/user/xxx -> /xxx
        - id: FINANCE_SERVICE
          uri: lb://FINANCE_SERVICE
          predicates:
            - Path=/api/finance/**
          filters:
            - StripPrefix=0
        # \u5176\u4ED6\u670D\u52A1\u8DEF\u7531...
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
